<!DOCTYPE html>
<html lang="en">
<head>
    <title>Root</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles/basic.css">
    <link rel="stylesheet" type="text/css" href="static/resource/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="static/styles/Fuentes-tipografia.css">
    <script src="static/scripts/vue.global.js"></script>
</head>
<body>
    <script src="/static/scripts/basic.js" ></script>
    <script src="/static/scripts/root.js" ></script>
    <script src="/static/scripts/jquery.js" ></script>
</body>
</html>