









.principal{
    width: 80%;
    height: auto;
    top: 0;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-50%,0);
    margin-top: 10vh;
}

.principal .header{
    width: 100%;
    height: 10vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal .header .content-title{
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal .header .content-title strong{
    width: auto;
    height: auto;
    top: 50%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-0%,-50%);
    font-size: 3vw;
}

.principal .header .content-image{
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal .header .content-image .ajust-image{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%,-0%);
}

.principal .header .content-image .ajust-image img{
    width: auto;
    height: 100%;
    top: 50%;
    left: 100%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-100%,-50%);
    object-fit: contain;
}











.principal .body{
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal .body .body-container{
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.targeta-registro{
    width: 100%;
    height: 10vw;
    float: left;
    overflow: hidden;
    position: relative;
    margin-top: 1vw;
}

.targeta-registro .contenedor-title{
    width: 100%;
    height: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}

.targeta-registro .contenedor-title p{
    width: auto;
    height: auto;
    top: 50%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-0%,-50%);
    font-size: 1.5vw;
    font-family: Roboto6;
    color: var(--color-font-main3);
}

.targeta-registro .contenedor-input{
    width: 100%;
    height: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}

.targeta-registro .contenedor-input input{
    width: 50%;
    height: 70%;
    top: 0%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-0%,-0%);
    border: none;
    font-size: 1.3vw;
    background: rgba(0, 0, 0, 0);
    border-bottom: solid 0.3vw rgb(141, 107, 107);
}

.contenedor-input input.correct{
    border-bottom: solid 0.3vw var(--color-4);
}

.targeta-registro .contenedor-input input:focus{
    outline: none;
}

.targeta-registro .contenedor-input p{
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: relative;
    margin-top: 0.4vw;
    font-size: 1vw;
}










/*VERSION CON MAPA*/

.targeta-registro.map{
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    margin-top: 1vw;
}


.targeta-registro.map .contenedor-title{
    width: 100%;
    height: 5vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.targeta-registro.map .contenedor-title p{
    width: auto;
    height: auto;
    top: 50%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-0%,-50%);
    font-size: 1.5vw;
    font-family: Roboto6;
    color: var(--color-font-main3);
}

.targeta-registro.map .contenedor-input{
    width: 100%;
    height: 5vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.targeta-registro.map .contenedor-input input{
    width: 50%;
    height: 70%;
    top: 0%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-0%,-0%);
    border: none;
    font-size: 1.3vw;
    background: rgba(0, 0, 0, 0);
    border-bottom: solid 0.3vw rgb(141, 107, 107);
    padding-right: 3.5vw;
}

.targeta-registro.map .contenedor-input input:focus{
    outline: none;
}

.targeta-registro.map .contenedor-input p{
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: relative;
    margin-top: 0.4vw;
    font-size: 1vw;
}

/*CODIGO PARA BOTON QUE MUESTRA EL MAPA*/

.targeta-registro.map .contenedor-input .boton-show-map{
    width: 100%;
    height: 3vw;
    top: 0%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    transform: translate(-0%,0%);
    border-radius: 0.6vw;
    z-index: 2;
}

.targeta-registro.map .contenedor-input .boton-show-map span{
    width: auto;
    height: auto;
    top: 50%;
    left: 48%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-48%,-50%);
    color: var(--color-gris-7);
    font-size: 2vw;
}

/*------------------------------*/

.targeta-registro.map .contenedor-mapa{
    width: 100%;
    height: 0vw;
    float: left;
    overflow: hidden;
    position: relative;
    animation: hideUpMap 0.3s linear;
}

.targeta-registro.map .contenedor-mapa.show{
    width: 100%;
    height: 20vw;
    float: left;
    overflow: hidden;
    position: relative;
    animation: showDownMap 0.3s linear;
}

.targeta-registro.map .contenedor-mapa .mapa{
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    background: black;
}










.principal .footer{
    width: 50%;
    height: 10vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal2 .footer{
    width: 50%;
    height: 10vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.footer .contenedor-enviar{
    width: 90%;
    height: 4vw;
    top: 50%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-50%,-50%);
    background: rgb(250, 160, 43);
    cursor: pointer;
    border-radius: 1vw;
    transition: 0.2s ease-in-out;
}

.footer .contenedor-enviar:hover{
    background: rgb(204, 120, 12);
    transform: translate(-50%,-50%) scale(1.05);
}

.footer .contenedor-enviar:active{
    transform: translate(-50%,-50%) scale(1.02);
}

.principal2 .footer .contenedor-enviar{
    background: rgb(62, 198, 82);
}

.principal2 .footer .contenedor-enviar:hover{
    background: rgb(43, 162, 61);
}

.footer .contenedor-enviar p{
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-50%,-50%);
    color: var(--color-font-main2);
    font-size: 1.4vw;
}



















.principal2{
    width: 80%;
    height: auto;
    top: 0;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-50%,0);
    margin-top: 0vh;
    padding-bottom: 10vw;
}

.principal2 .header{
    width: 100%;
    height: 10vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal2 .header .content-title{
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.principal2 .header .content-title strong{
    width: auto;
    height: auto;
    top: 50%;
    left: 0%;
    float: left;
    overflow: hidden;
    position: absolute;
    transform: translate(-0%,-50%);
    font-size: 3vw;
}




































.video-publish{
    width: 100vw;
    height: 100%;
    top: 100%;
    left: 100%;
    float: right;
    position: fixed;
    overflow: hidden;
    transform: translate(-100%,-100%);
    z-index: -10;
}

.video-publish .video-container{
    width: 90%;
    height: 100%;
    bottom: 0;
    right: 0;
    float: right;
    overflow: hidden;
}

.video-publish .video-container video{
    width: auto;
    height: 100%;
    float: right;
    overflow: hidden;
    object-fit: contain;
}

.video-publish .degradado{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.8) 28%, rgba(255,255,255,0.6) 81%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.video-publish .degradado2{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(75deg, rgba(255,255,255,0.7) 28%, rgba(255,255,255,0) 81%);
    z-index: 1;
}

.video-publish .degradado3{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 28%, rgba(255,255,255,0) 81%, rgba(181,237,249,0) 100%);
    z-index: 1;
}